<h1>GAME OVER</h1>
<h2 id="score"></h2>
<h2 id="time"></h2>
<h2 id="avlbcorners"></h2>
<label for="user"><h2 class="usr">Username</h2></label>
<input id="username" class="username" type="text" placeholder="Type in Username">
<div class="send">
    <button class="sendbtn" onclick="sendScore()">Send</button>

</div>
<div class="dontsend">
    <button class="dontsendbtn" onclick="dontSend()">Don't send</button>
</div>