<div class="game_staus">
    <h2 class="schrift" id="schrift"></h2>
    <h2 class="avlbcorners" id="avlbcorners"></h2>
    <h2 class="counter" id="counter"></h2>
    <h2 class="timer" id="timer"></h2>

    <div class="arrows">
        <div class="arrows_lower">
            <button onclick="keyUpLeft()" class="ar_btn"><img id="ar_up_left" class="ar" src="/img/ar_up_left.png" alt="ar_up_left"></button>
            <button onclick="keyLeft()" class="ar_btn"><img id="ar_left" class="ar" src="/img/ar_left.png" alt="ar_left"></button>
            <button onclick="keyDownLeft()" class="ar_btn"><img id="ar_down_left" class="ar" src="/img/ar_down_left.png" alt="ar_down_left"></button>
        </div>
        <div class="arrows_lower">
            <button onclick="keyUp()" class="ar_btn"><img id="ar_up" class="ar" src="/img/ar_up.png" alt="ar_up"></button>
            <button onclick="" class="ar_btn"><img id="circ" class="ar" src="/img/circ.png" alt="circ"></button>
            <button onclick="keyDown()" class="ar_btn"><img id="ar_down" class="ar" src="/img/ar_down.png" alt="ar_down"></button>
        </div>
        <div class="arrows_lower">
            <button onclick="keyUpRight()" class="ar_btn"><img id="ar_up_right" class="ar" src="/img/ar_up_right.png" alt="ar_up_right"></button>
            <button onclick="keyRight()" class="ar_btn"><img id="ar_right" class="ar" src="/img/ar_right.png" alt="ar_right"></button>
            <button onclick="keyDownRight()" class="ar_btn"><img id="ar_down_right" class="ar" src="/img/ar_down_right.png" alt="ar_down_right"></button>
        </div>
    </div>
</div>