<div class="left">
    <button class="how-to-play-button" onclick="window.location.href = '/how-to-play';">How to Play</button>
    <button class="scores-button" onclick="window.location.href = '/scores';">Scores</button>
</div>