<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/SREU_TPHEU/css/style.css">

</head>
<body>
    <div class="container">
        <header class="header">
            <a href="/SREU_TPHEU/" class="header_logo">SREU_TPHEU</a>
        </header>
        <main>
            <%- body %>
        </main>
        <footer class="footer">
            &copy; 2023 derlole6807 & nica3720 • Build with MongoDB
        </footer>
    </div>
    <script src="/SREU_TPHEU/js/fieldgen.js"></script>
</body>
</html>