<div class="main">
    <div class="info-left">
        <%- include('./partials/left.ejs') %>
    </div>
    <div class="playground" id="playground">
        <%- include('./partials/field.ejs') %>
    </div>
    <div class="info-right">
        <%- include('./partials/game_state.ejs') %>
    </div>
    <div class="endscreen" id="endscreen">
        <%- include('./partials/endscreen.ejs') %>
    </div>
</div>